doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="main.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap" rel="stylesheet")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Oleo+Script&family=Open+Sans:wght@300;400;700;800&display=swap" rel="stylesheet")
        <link rel="shortcut icon" href="icons/favicon.ico" />
    body
        header.header 
            .logo
                a(href="#") 
                    img(src="img/logo.jpeg", alt="logo")
            nav(role="navigation").nav 
                #menuToggle
                    input(type="checkbox")
                    span 
                    span 
                    span

                    ul#menu
                        a(href="#"): li Home  
                        a(href="#"): li Procesos  
                        a(href="#"): li Jornada Mañana  
                        a(href="#"): li Jornada Tarde 
                        a(href="#"): li Colegio 



                ul.list-group 
                    li.list-item: a(href="#") Home
                    li.list-item: a(href="#") Procesos
                    li.list-item: a(href="#") Jornada Mañana 
                    li.list-item: a(href="#") Jornada Tarde
                    li.list-item: a(href="#") Colegio

        section.main-container.container
            .text-container 
                h1 Robert F. Kennedy
                p Inscripciones abiertas. No pierdas la oportunidad.
            .btn.btn-text 
                a(href="#" name="button").btn.main-btn Inscribete Ya!
                    <i class="fas fa-arrow-circle-right"></i> 
                a(href="#" name="button").btn.main-btn Información
                    <i class="fas fa-question-circle"></i>

        section.cards.container 
            .card 
                .card-img    
                    img(src="img/card1.jpg", alt="Clases en Linea")
                    h4 Clases en Linea 
                h5 El nuevo método de estudio
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. At ab voluptatum illum voluptas odio facilis nisi perferendis?
            .card 
                .card-img    
                    img(src="img/card2.jpg", alt="Clases en Linea")
                    h4 La Mejor Plataforma
                h5 Sin perdida de conexion
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. At ab voluptatum illum voluptas odio facilis nisi perferendis?
            .card
                .card-img 
                    img(src="img/card3.jpg", alt="Clase Presencial")
                    h4 Clases Presenciales 
                h5 Con los mejores profesor
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. At ab voluptatum illum voluptas odio facilis nisi perferendis?

        section.about
            .about-container    
                .colors
                    h4 Cosas de Interes
                    .colors-one
                        .color
                            img(src="img/higiene1.webp", alt="color")
                        .color
                            img(src="img/higiene2.webp", alt="color")
                    .colors-two    
                        .color
                            img(src="img/higiene3.webp", alt="color")    
                        .color
                            img(src="img/higiene4.webp", alt="color")
                        
                    button(name="more").btn.btn-more 
                        <i class="fas fa-file-alt"></i> Mas

                .about-text 
                    h2 Entonces, ¿de qué se trata todo esto?
                    p Lorem ipsum es simplemente el tecto de relleno de las imprentas y archivos de texto. Lorem ipsum ha sido el texto de relleno estandar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galeria de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No solo sobrevivió 500años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creacion de las hojas "Lestraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
                    br
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum vitae magnam doloremque delectus architecto voluptate voluptatum aliquid quia nostrum. Similique tenetur necessitatibus earum accusamus ipsa.

                    button(name="continue").btn.btn-about <i class="fas fa-arrow-circle-right"></i> Continua Leyendo
                       
        footer#footer 
            .footer-container.container
                .text-footer
                    h5 Random Stuff 
                    a(href="#") Lorem, ipsum dolor. 
                    a(href="#") Lorem ipsum dolor sit. 
                    a(href="#") Lorem ipsum dolor sit amet 
                    a(href="#") Lorem ipsum dolor sit. 
                    a(href="#") Lorem ipsum dolor sit.
                .text-footer
                    h5 Random Stuff 
                    a(href="#") Lorem, ipsum dolor. 
                    a(href="#") Lorem ipsum dolor sit. 
                    a(href="#") Lorem ipsum dolor sit amet 
                    a(href="#") Lorem ipsum dolor sit. 
                    a(href="#") Lorem ipsum dolor sit.
                .text-footer
                    h5 Random Stuff 
                    a(href="#") Lorem, ipsum dolor. 
                    a(href="#") Lorem ipsum dolor sit. 
                    a(href="#") Lorem ipsum dolor sit amet 
                    a(href="#") Lorem ipsum dolor sit. 
                    a(href="#") Lorem ipsum dolor sit.
                .social-footer
                    h5 Contact Us 
                    ul.list-social  
                        li.social: a(href="#") <i class="fab fa-twitter-square"></i>
                        li.social: a(href="#") <i class="fab fa-facebook-square"></i>
                        li.social: a(href="#") <i class="fab fa-instagram-square"></i>
                        li.social: a(href="#") <i class="fab fa-dribbble-square"></i>
                        li.social: a(href="#") <i class="fab fa-pinterest-square"></i>

                    p 1234 Fictional Road 
                    p Nashville, TN 00000
                    p (800) 555-0000

            .copy
                p &copy Untitled. All rights reserved
                            








        script(src="https://kit.fontawesome.com/21b565b396.js", crossorigin="anonymous")      
                 