doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="main.css")
    body
        header.header 
            div.logo
                a(href="#")
                    img(src="img/logo.jpg", alt="logo")
            nav.nav     
                ul.list-group 
                    li.list-item: a(href="#") Welcome  
                    li.list-item: a(href="#") Dropdown 
                    li.list-item: a(href="#") Left Sidebar 
                    li.list-item: a(href="#") Right Sidebar
                    li.list-item: a(href="#") No Sidebar 
                    
        section.main-content
            .text-content 
                h1 Hi. This is Lorem.
                p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
            .btn.btn-text 
                button(name="button").btn.main-btn Ok let´s go 
                button(name="button").btn.main-btn More info 
                  