$btn-color: #1591C4;
$title-color: #434542;
$p-color: #72706D;
$shadows: 0px 2px #c7c7c7;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100%;
    background: url(/img/fondo.jpg) round;
    font-family: 'Open Sans', sans-serif;

}

#menuToggle{
    display: none; /*Desactivamos el menu*/
    position: relative;
    // top: 50px;
    left: 50px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;

    & a{
        text-decoration: none;
        color: #232323;
        
        transition: color 0.3s ease;
    }
     & a:hover{
        color: tomato;
     }

     & input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        
        cursor: pointer;
        
        opacity: 0; 
        z-index: 2; 
        
        -webkit-touch-callout: none;
     }

     & span{
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        
        background: #cdcdcd;
        border-radius: 3px;
        
        z-index: 1;
        
        transform-origin: 4px 0px;
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
        
     }

     & span:first-child{
        transform-origin: 0% 0%;
     }

     & span:nth-last-child(2){
        transform-origin: 0% 100%;
     }

     & input:checked ~ span{
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
     }

     & input:checked ~ span:nth-last-child(3){
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
     }

     & input:checked ~ span:nth-last-child(2){
        transform: rotate(-45deg) translate(0, -1px);
     }

     
}

#menu{
    position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  
  transform-origin: 0% 0%;
  transform: translate(-300%, 0);/*Mueve el menu de izquierda a dechera*/
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

    & li{
        padding: 10px 0;
        font-size: 22px;
    }
}

#menuToggle{
    
    & input:checked ~ ul
     {
       transform: none;
     }
} 

/*Inicio del Home*/
  
header{
    width: 100%;
    height: 100px;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;


    .logo{
        width: 170px;
        & a{
            & img{
                width: 100%;
                border-radius: 5px;
                display: block;
            }
        }
        
    }
        
        .list-item{
            display: inline;
            padding: 5px 5px;
            margin: 0 1px;
            // border: 1px black solid;
            border-radius: 5px;
        
            & a{
                text-decoration: none;
                color: $p-color;
                font-weight: 800;
                font-size: 12px;
            }
        }

        .list-item:first-child{
            & a{
                background-color: $title-color;
                border: 1px $title-color solid;
                border-radius: 5px;
                color: #FFFFFF;
                padding: 5px 5px;
            }
        }
        
        
}

.main-container{
    // border: 1px black solid;
    max-width: 80%;
    height: 250px;
    margin: 0 auto 2rem;
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: $shadows;
    overflow: hidden;
    border-radius: 5px;
        
        & .text-container{
            // border: 1px black solid;
            margin: 0 15px;
            overflow: hidden;
            
            h1{
                color: $title-color;
                font-weight: 800;
                font-size: 40px;
                padding: 0 5px;
                
            }
            p{
                font-size: 30px;
                color: $p-color;
                font-weight: 200;
                padding: 0 5px;
            }
        }

        & .btn-text{
            width: 50%;
            height: 100%;
            overflow: hidden;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            padding-top: 20px;
            
            & .main-btn{
                width: 100%;
                margin-top: 9px;
                padding: 15px 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 5px;
                text-decoration: none;
                font-size: 20px;
                font-weight: 800;
                color:#FFFFFF ;
                background: $btn-color;
                transition: all 2s;

                & i{
                    transition: 1s;
                }
            }

            
            
            
            & .main-btn:hover{
                background-color: #22c0ff;

                & i{
                    transform: scale(1.5);
                }
            }

            & .main-btn:nth-child(2){
                background: #F2F2F2;
                color: $title-color;
            }
            & .main-btn:nth-child(2):hover{
                background-color: #bbbbbb;
            }

            
        }
}

.cards{
    // border:1px black solid;
    max-width: 80%;
    display: flex;
    margin: 0 auto 2rem;
    
    & .card{
        width: 100%;
        background-color: #FFFFFF;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: $shadows;
        padding-bottom: 10px;
        // border:1px black solid;
        
        & .card-img{
            position: relative;
            transition: all 2s;

            & img{
                overflow: hidden;
                box-sizing: border-box;
                width: 100%;
                height: 60%;
                transition: all 2s;
                // border:1px black solid;
                
            }
    
            & h4{
                font-weight: 800;
                letter-spacing: -1px;
                // text-align: left;
                margin: 0 10px;
                color: #FFFFFF;
                position: absolute;
                bottom: 10px;
                text-shadow: 1px 1px 1px #0000009f;
                transition: all 2s;
            }
        }

        & .card-img:hover{
            transform:scale(0.9);
            cursor: pointer;
        }
        
        & h5{
            font-weight: 800;
            color: #717272;
            line-height: 25px;
            text-align: left;
            margin: 0 10px;
            font-size: 12px;
        }

        & p{
            font-size: 12px;
            line-height: 25px;
            text-align: left;
            margin: 0 10px;
            color: $p-color;
        }

    }
    
    & .card:nth-child(2){
        margin: 0 20px;
    }
}

.about{
    // border: 1px solid black;
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    box-shadow: $shadows;

    .about-container{
        display: flex;
        max-width: 80%;
        margin: 2rem auto 2rem;;
        
        .colors{
            // border: 1px solid black;
            box-sizing: border-box;
            padding-right: 2rem;
            padding-top: 5px;
            

            & h4{
                // border: 1px solid black;
                display: inline-block;
                width: 140px;
                margin-bottom: 10px;
                font-weight: 800;
                letter-spacing: -1px;
                color: $title-color;
            }

            & .colors-one{
                // border: 1px solid black;
                width: 250px;
                display: flex;
                margin-top: 5px;
            }


            & .colors-two{
                // border: 1px solid black;
                width: 250px;
                display: flex;
                margin-top: 5px;
            }
            
            .color{
                width: 150px;
                height: 70px;
                overflow: hidden;
                margin: 5px 5px 5px 0;
                
                & img{
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    overflow: hidden;
                    transition: all 2s;
                }

                & img:hover{
                    filter: grayscale(80%);
                    transform:scale(3);
                    cursor: pointer;
                }
            }

            & .btn-more{
                width: 90px;
                height: 35px;
                font-weight: 800;
                color: #FBFDFF;
                margin: 25px 0;
                padding: 0 10px;
                background: $btn-color;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                transition: all 2s;

                & i{
                    font-weight:100;
                    font-size: 15px;
                    margin-right: 5px;
                    transition: all 1s;
                }

               
            }

            & .btn-more:hover{
                background-color: #22c0ff;
                & i{
                    
                    transform: rotateY(180deg) scale(1.1);
                    transform-style: preserve-3d;
                }
            }
        }
        
        .about-text{
            // border: 1px solid black;
            & h2{
                font-weight: 800;
                color: $title-color;
                margin-bottom: 15px;
            }

            & p{
                font-size: 12px;
                line-height: 25px;
                color: $p-color;
                // padding-right: 40px;
            }
            & .btn-about{
                width: 200px;
                height: 35px;
                font-weight: 800;
                color: #FBFDFF;
                margin: 25px 0;
                padding: 0 10px;
                background: $btn-color;
                border: none;
                border-radius: 3px;
                transition: all 2s;
                cursor: pointer;

                & i{
                    transition: all 1s;
                }
            }

            & .btn-about:hover{
                background-color: #22c0ff;

                & i{
                    transform: rotate(270deg) scale(1.1);
                }
            }
        }
    }
        
}

#footer{
    // border: 1px solid black;
    width: 80%;
    margin: 4rem auto 2rem;
    
    .footer-container {
        display: flex;

        .text-footer{
            width: 200px;
            margin-right: 10px;

            & h5{
                color: $title-color;
                font-weight: 800;
                margin-bottom: 10px;
                font-size: 1rem;
            }

            & a{
                color: $p-color;
                line-height: 25px;
                font-size: 12px;
                display: block;
            }
        }

        .social-footer{

            & h5{
                color: $title-color;
                font-weight: 800;
                margin-bottom: 10px;
                font-size: 1rem;
            }
            & .list-social{
                display: flex;
                

                & .social{
                    list-style: none;
                    margin-bottom: 10px;

                    & a{
                        color: $title-color;
                        font-size: 30px;
                        margin-right: 5px;

                        & i:hover{
                            background: rgba(0,0,0,0);
                            color: $btn-color;
                            box-shadow: inset 0 0 0 3px $btn-color;
                            border-radius: 5px;
                        }
                    }
                }
            }

            & p{
                font-size: 12px;
                line-height: 25px;
                color: $p-color;
            }
        }
    }
          
    .copy{
        text-align: center;
        margin: 50px 0 30px 0;

        & p{
            font-size: 12px;
            line-height: 25px;
            color: #7e8182;
        }
    }
    

}

/*Responsive*/

@media (max-width: 768px){
    header{
        .list-group{
            display: none;
        }
    }
    .main-container{
        
        & .btn-text{
            overflow: unset;

            & .main-btn{
                font-weight: 600;
                font-size: unset;
                padding: 15px 10px;
                
            }
        }
    }
    #footer{
        .social-footer{
            width: 35%;
        }
    }
    #menuToggle{
        display: block;
        & input:checked ~ ul {
            transform: translate(-40%, 0);
        }
    }
}

@media (max-width: 576px){
    .main-container{    
        .text-container{
            & h1{
                font-size: 25px;
            }
            & p{
                font-size: 25px;
            }
        }
        
        .btn-text{
            width: 70%;
            .main-btn{
                font-size: 11px;
                padding: 15px 10px;
            }
        }
    }

    .cards{
        flex-direction: column;
        & .card{
            margin-bottom: 15px;
        }
        
        & .card:nth-child(2) {
            margin: 0;
            margin-bottom: 15px;
        }
    }

    .about{
        .about-container{
            .colors{
                display: none;
            }
        }
    }
}

@media (max-width: 414px){
    header{
        width: 90%;

        #menuToggle{
            display: block;
            & input:checked ~ ul {
                transform: translate(-50%, 0);
            }
        }
    }

    .main-container{
        height: unset;
        flex-direction: column;
        
        & .text-container{
            width: max-content;
            & p{
                display: none;
            }
        }

        .btn-text{
            width: 70%;
            .main-btn{
                font-size: 15px;
                padding: 15px 10px;
            }
        }
    }

    #footer{
        .footer-container{
            & .text-footer{
                & h5{
                    font-size: 12px;
                }
            }

            .social-footer{
                & h5{
                    font-size: 12px;
                }
                & .list-social{
                    flex-direction: column;
                    & .social{
                        margin-top: unset;
                    }
                }
            }
        }
       
    }


}


@media (max-width: 350px){
    
    header{
        width: 90%;

        #menuToggle{
            display: block;
            & input:checked ~ ul {
                transform: translate(-50%, 0);
            }
        }
    }

    .main-container{
        height: unset;
        flex-direction: column;
        
        & .text-container{
            width: max-content;
            & p{
                display: none;
            }
        }

        .btn-text{
            width: 70%;
            .main-btn{
                font-size: 15px;
                padding: 15px 10px;
            }
        }
    }

    #footer{
        .footer-container{
            & .text-footer{
                & h5{
                    font-size: 12px;
                }
            }

            .social-footer{
                & h5{
                    font-size: 12px;
                }
                & .list-social{
                    flex-direction: column;
                    & .social{
                        margin-top: unset;
                    }
                }
            }
        }
       
    }
}
