* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #ECECEC;
  font-family: "Open Sans", sans-serif;
}

header {
  width: 100%;
  height: 100px;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .logo {
  font-family: "Oleo Script", cursive;
  color: #F2453E;
}
header .logo h2 {
  letter-spacing: 1px;
  font-size: 30px;
}
header .list-item {
  display: inline;
  padding: 5px 5px;
  margin: 0 1px;
  border-radius: 5px;
}
header .list-item a {
  text-decoration: none;
  color: #716967;
  font-weight: 800;
  font-size: 12px;
}

.main-container {
  max-width: 80%;
  height: 250px;
  margin: 0 auto 2rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0px 2px #c7c7c7;
  overflow: hidden;
  border-radius: 5px;
}
.main-container .text-container {
  margin: 0 30px;
  overflow: hidden;
}
.main-container .text-container h1 {
  color: #454545;
  font-weight: 800;
  font-size: 40px;
  padding: 0 5px;
}
.main-container .text-container p {
  font-size: 30px;
  color: #BAADA3;
  font-weight: 200;
  padding: 0 5px;
}
.main-container .btn-text {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 10px;
}
.main-container .btn-text .main-btn {
  width: 80%;
  margin-top: 9px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  color: #FFFFFF;
  background: #1591C4;
}
.main-container .btn-text .main-btn:nth-child(2) {
  background: #F2F2F2;
  color: #5A524B;
}

.cards {
  max-width: 80%;
  display: flex;
  margin: 0 auto 2rem;
}
.cards .card {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px #c7c7c7;
  padding-bottom: 10px;
}
.cards .card .card-img {
  position: relative;
}
.cards .card .card-img img {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 60%;
}
.cards .card .card-img h4 {
  font-weight: 800;
  letter-spacing: -1px;
  text-align: left;
  margin: 0 10px;
  color: #FFFFFF;
  position: absolute;
  bottom: 10px;
  text-shadow: 1px 1px 1px #0000009f;
}
.cards .card h5 {
  font-weight: 800;
  color: #717272;
  line-height: 25px;
  text-align: left;
  margin: 0 10px;
  font-size: 12px;
}
.cards .card p {
  font-size: 12px;
  line-height: 25px;
  text-align: left;
  margin: 0 10px;
  color: #aaa4a0;
}
.cards .card:nth-child(2) {
  margin: 0 20px;
}

.about {
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  box-shadow: 0px 2px #c7c7c7;
}
.about .about-container {
  display: flex;
  max-width: 80%;
  margin: 2rem auto 2rem;
}
.about .about-container .colors {
  box-sizing: border-box;
  padding-right: 2rem;
  padding-top: 5px;
}
.about .about-container .colors h4 {
  display: inline-block;
  width: 140px;
  margin-bottom: 10px;
  font-weight: 800;
  letter-spacing: -1px;
  color: #414141;
}
.about .about-container .colors .colors-one {
  width: 250px;
  display: flex;
  margin-top: 5px;
}
.about .about-container .colors .colors-two {
  width: 250px;
  display: flex;
  margin-top: 5px;
}
.about .about-container .colors .color {
  width: 150px;
  height: 70px;
  overflow: hidden;
  margin: 5px 5px 5px 0;
}
.about .about-container .colors .color img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.about .about-container .colors .btn-more {
  width: 90px;
  height: 35px;
  font-weight: 800;
  color: #FBFDFF;
  margin: 25px 0;
  padding: 0 10px;
  background: #1591C4;
  border: none;
  border-radius: 3px;
}
.about .about-container .colors .btn-more i {
  font-weight: 100;
  font-size: 15px;
  margin-right: 5px;
}
.about .about-container .about-text h2 {
  font-weight: 800;
  color: #434241;
  margin-bottom: 15px;
}
.about .about-container .about-text p {
  font-size: 12px;
  line-height: 25px;
  color: #aaa4a0;
}
.about .about-container .about-text .btn-about {
  width: 200px;
  height: 35px;
  font-weight: 800;
  color: #FBFDFF;
  margin: 25px 0;
  padding: 0 10px;
  background: #1591C4;
  border: none;
  border-radius: 3px;
}

#footer {
  border: 1px solid black;
  width: 80%;
  height: 100%;
  margin: auto;
  position: relative;
  top: 400px;
}

/*# sourceMappingURL=main.css.map */
