* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background: url(/img/fondo.jpg) round;
  font-family: "Open Sans", sans-serif;
}

#menuToggle {
  display: none;
  /*Desactivamos el menu*/
  position: relative;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
#menuToggle a:hover {
  color: tomato;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-300%, 0);
  /*Mueve el menu de izquierda a dechera*/
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

/*Inicio del Home*/
header {
  width: 100%;
  height: 100px;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .logo {
  width: 170px;
}
header .logo a img {
  width: 100%;
  border-radius: 5px;
  display: block;
}
header .list-item {
  display: inline;
  padding: 5px 5px;
  margin: 0 1px;
  border-radius: 5px;
}
header .list-item a {
  text-decoration: none;
  color: #72706D;
  font-weight: 800;
  font-size: 12px;
}
header .list-item:first-child a {
  background-color: #434542;
  border: 1px #434542 solid;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 5px 5px;
}

.main-container {
  max-width: 80%;
  height: 250px;
  margin: 0 auto 2rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0px 2px #c7c7c7;
  overflow: hidden;
  border-radius: 5px;
}
.main-container .text-container {
  margin: 0 15px;
  overflow: hidden;
}
.main-container .text-container h1 {
  color: #434542;
  font-weight: 800;
  font-size: 40px;
  padding: 0 5px;
}
.main-container .text-container p {
  font-size: 30px;
  color: #72706D;
  font-weight: 200;
  padding: 0 5px;
}
.main-container .btn-text {
  width: 50%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 20px;
}
.main-container .btn-text .main-btn {
  width: 100%;
  margin-top: 9px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  color: #FFFFFF;
  background: #1591C4;
  transition: all 2s;
}
.main-container .btn-text .main-btn i {
  transition: 1s;
}
.main-container .btn-text .main-btn:hover {
  background-color: #22c0ff;
}
.main-container .btn-text .main-btn:hover i {
  transform: scale(1.5);
}
.main-container .btn-text .main-btn:nth-child(2) {
  background: #F2F2F2;
  color: #434542;
}
.main-container .btn-text .main-btn:nth-child(2):hover {
  background-color: #bbbbbb;
}

.cards {
  max-width: 80%;
  display: flex;
  margin: 0 auto 2rem;
}
.cards .card {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px #c7c7c7;
  padding-bottom: 10px;
}
.cards .card .card-img {
  position: relative;
  transition: all 2s;
}
.cards .card .card-img img {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 60%;
  transition: all 2s;
}
.cards .card .card-img h4 {
  font-weight: 800;
  letter-spacing: -1px;
  margin: 0 10px;
  color: #FFFFFF;
  position: absolute;
  bottom: 10px;
  text-shadow: 1px 1px 1px #0000009f;
  transition: all 2s;
}
.cards .card .card-img:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.cards .card h5 {
  font-weight: 800;
  color: #717272;
  line-height: 25px;
  text-align: left;
  margin: 0 10px;
  font-size: 12px;
}
.cards .card p {
  font-size: 12px;
  line-height: 25px;
  text-align: left;
  margin: 0 10px;
  color: #72706D;
}
.cards .card:nth-child(2) {
  margin: 0 20px;
}

.about {
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  box-shadow: 0px 2px #c7c7c7;
}
.about .about-container {
  display: flex;
  max-width: 80%;
  margin: 2rem auto 2rem;
}
.about .about-container .colors {
  box-sizing: border-box;
  padding-right: 2rem;
  padding-top: 5px;
}
.about .about-container .colors h4 {
  display: inline-block;
  width: 140px;
  margin-bottom: 10px;
  font-weight: 800;
  letter-spacing: -1px;
  color: #434542;
}
.about .about-container .colors .colors-one {
  width: 250px;
  display: flex;
  margin-top: 5px;
}
.about .about-container .colors .colors-two {
  width: 250px;
  display: flex;
  margin-top: 5px;
}
.about .about-container .colors .color {
  width: 150px;
  height: 70px;
  overflow: hidden;
  margin: 5px 5px 5px 0;
}
.about .about-container .colors .color img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  transition: all 2s;
}
.about .about-container .colors .color img:hover {
  filter: grayscale(80%);
  transform: scale(3);
  cursor: pointer;
}
.about .about-container .colors .btn-more {
  width: 90px;
  height: 35px;
  font-weight: 800;
  color: #FBFDFF;
  margin: 25px 0;
  padding: 0 10px;
  background: #1591C4;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 2s;
}
.about .about-container .colors .btn-more i {
  font-weight: 100;
  font-size: 15px;
  margin-right: 5px;
  transition: all 1s;
}
.about .about-container .colors .btn-more:hover {
  background-color: #22c0ff;
}
.about .about-container .colors .btn-more:hover i {
  transform: rotateY(180deg) scale(1.1);
  transform-style: preserve-3d;
}
.about .about-container .about-text h2 {
  font-weight: 800;
  color: #434542;
  margin-bottom: 15px;
}
.about .about-container .about-text p {
  font-size: 12px;
  line-height: 25px;
  color: #72706D;
}
.about .about-container .about-text .btn-about {
  width: 200px;
  height: 35px;
  font-weight: 800;
  color: #FBFDFF;
  margin: 25px 0;
  padding: 0 10px;
  background: #1591C4;
  border: none;
  border-radius: 3px;
  transition: all 2s;
  cursor: pointer;
}
.about .about-container .about-text .btn-about i {
  transition: all 1s;
}
.about .about-container .about-text .btn-about:hover {
  background-color: #22c0ff;
}
.about .about-container .about-text .btn-about:hover i {
  transform: rotate(270deg) scale(1.1);
}

#footer {
  width: 80%;
  margin: 4rem auto 2rem;
}
#footer .footer-container {
  display: flex;
}
#footer .footer-container .text-footer {
  width: 200px;
  margin-right: 10px;
}
#footer .footer-container .text-footer h5 {
  color: #434542;
  font-weight: 800;
  margin-bottom: 10px;
  font-size: 1rem;
}
#footer .footer-container .text-footer a {
  color: #72706D;
  line-height: 25px;
  font-size: 12px;
  display: block;
}
#footer .footer-container .social-footer h5 {
  color: #434542;
  font-weight: 800;
  margin-bottom: 10px;
  font-size: 1rem;
}
#footer .footer-container .social-footer .list-social {
  display: flex;
}
#footer .footer-container .social-footer .list-social .social {
  list-style: none;
  margin-bottom: 10px;
}
#footer .footer-container .social-footer .list-social .social a {
  color: #434542;
  font-size: 30px;
  margin-right: 5px;
}
#footer .footer-container .social-footer .list-social .social a i:hover {
  background: rgba(0, 0, 0, 0);
  color: #1591C4;
  box-shadow: inset 0 0 0 3px #1591C4;
  border-radius: 5px;
}
#footer .footer-container .social-footer p {
  font-size: 12px;
  line-height: 25px;
  color: #72706D;
}
#footer .copy {
  text-align: center;
  margin: 50px 0 30px 0;
}
#footer .copy p {
  font-size: 12px;
  line-height: 25px;
  color: #7e8182;
}

/*Responsive*/
@media (max-width: 768px) {
  header .list-group {
    display: none;
  }

  .main-container .btn-text {
    overflow: unset;
  }
  .main-container .btn-text .main-btn {
    font-weight: 600;
    font-size: unset;
    padding: 15px 10px;
  }

  #footer .social-footer {
    width: 35%;
  }

  #menuToggle {
    display: block;
  }
  #menuToggle input:checked ~ ul {
    transform: translate(-40%, 0);
  }
}
@media (max-width: 576px) {
  .main-container .text-container h1 {
    font-size: 25px;
  }
  .main-container .text-container p {
    font-size: 25px;
  }
  .main-container .btn-text {
    width: 70%;
  }
  .main-container .btn-text .main-btn {
    font-size: 11px;
    padding: 15px 10px;
  }

  .cards {
    flex-direction: column;
  }
  .cards .card {
    margin-bottom: 15px;
  }
  .cards .card:nth-child(2) {
    margin: 0;
    margin-bottom: 15px;
  }

  .about .about-container .colors {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
